<div class="bg-tanned-ll rounded-xl p-2 w-fit shadow-2xl flex flex-col">
  <div class="flex px-3 py-1 hover:bg-tanned-m transition-all duration-200 rounded-lg">
    <img src="assets/cogg.svg" class="w-[18px] h-[18px] my-auto">
    <button (click)="onSettings()" class="text-left px-4 py-2 text-md text-chared-l cursor-pointer w-fit">Settings</button>
  </div>
  <div class="flex px-3 py-1 hover:bg-tanned-m transition-all duration-200 rounded-lg mb-2">
    <img src="assets/lightning-01.svg" class="w-[18px] h-[18px] my-auto">
    <button routerLink="/plan" routerLinkActive="routerLinkActive" class="text-left px-4 py-2 text-md text-chared-l cursor-pointer w-fit">Upgrade Plan</button>
  </div>
  <button class="bg-coral-m outline-2 outline-coral-d px-16 py-1 rounded-md btnRed">Sign Out</button>
</div>

